// -------fonts--------->

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

// ------ primary colors----------->

$mycolor: red;
$softviolet: hsl(277, 64%, 61%);
$darksaturatedblue: hsl(244, 38%, 16%);
$mainbackground: hsl(233, 47%, 7%);

//--------- neutral colors------------>

$white: hsl(0, 0%, 100%);
$mainpara: hsla(0, 0%, 100%, 0.75);
$statheading: hsla(0, 0%, 100%, 0.6);
$fs14: 15px;

$interfont: "Inter", sans-serif;
$deca: "Lexend Deca", sans-serif;

// --------styling--------->

body {
  background-color: $mainbackground;
}

// -----------containers--------->

.container {
  height: 420px;
  max-width: 950px;

  position: relative;
  margin: 8% auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.left__content {
  background-color: $darksaturatedblue;
  flex: 50%;
  background-color: $darksaturatedblue;
  display: flex;
  flex-direction: column;
  padding: 60px;
  overflow: inherit;
}

.insights {
  color: $softviolet;
}

h1 {
  font-family: $interfont;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.right__content {
  flex: 50%;

  display: flex;
}

.right__content > picture > img {
  width: 100%;
  max-width: 475px;
  height: 100%;
  object-fit: cover;
  max-height: 420px;
}

p {
  color: $statheading;
  font-family: $deca;
  font-size: 14px;
  word-spacing: 0.2rem;
  line-height: 2rem;

  text-align: left;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 1% 0 2% 0;
  flex-direction: row;
  row-gap: 15px;
  max-width: 90%;
}

.stats > .stats__content > h1 {
  font-size: 16px;
  font-family: $interfont;
  font-family: $interfont;
  text-transform: uppercase;
}

.stats > .stats__content > p {
  font-size: 11px;
  font-family: $interfont;
  text-transform: uppercase;
  margin-top: -10px;
}

// --------mbile responsive----->

@media (max-width: 475px) {
  .container {
    height: 750px;
    width: 350px;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    border-radius: 10px;
    border: none;
  }

  .img {
    width: 50%;
    max-width: 120px;
    object-fit: cover;
    height: 350px;
  }

  .stats {
    flex-direction: column;
    text-align: center;
    column-gap: 5px;
  }
  p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  p,
  h1 {
    text-align: center;
  }
  .left__content {
    flex: 50%;
    padding: 30px;
  }
  .right__content {
    flex: 20%;

    object-fit: cover;
  }
}
